<h1>This is start page.</h1>
<p>Here are links to other pages:</p>
<p><a href="login">Login page</a></p>
<p><a href="settings">Link to settings page</a></p>
<p><a href="stats">Link to statistics</a></p>
<p><a href="user">Link to user settings</a></p>



<p><a href="logoff">Log off</a></p>