<h1>This is Login page</h1>
<div id="qrCodePlaceholder"></div>
<p></p>
<p><strong>This is content of qr code: </strong><div id="qrCodeContent"></div></p>
<a href="/">Back to home page</a>

<p>Here are links to other pages:</p>
<p><a href="settings">Link to settings page</a></p>
<p><a href="stats">Link to statistics</a></p>
<p><a href="user">Link to user settings</a></p>


<p><a href="logoff">Log off</a></p>